@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  z-index: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

#container__loader {
  z-index: 5;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-container-animation 4s forwards;
  pointer-events: none; /*retire toute interaction au clique*/
}
#container__loader .dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}
#container__loader .dot1 {
  background: -webkit-linear-gradient(10deg, #FF79DA, #9356DC);
  animation: loading-dot-animation 1.5s infinite;
}
#container__loader .dot2 {
  background: -webkit-linear-gradient(10deg, #FF79DA, #9356DC);
  margin: 0 10px 0 10px;
  animation: loading-dot-animation 1.5s infinite;
  animation-delay: 250ms;
}
#container__loader .dot3 {
  background: -webkit-linear-gradient(10deg, #FF79DA, #9356DC);
  animation: loading-dot-animation 1.5s infinite;
  animation-delay: 500ms;
}

@keyframes loading-dot-animation {
  0% {
    opacity: 0;
    transform: scale(0.2) translate(0px, 50px);
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes loading-container-animation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
header {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 3px;
  box-shadow: 0px 1px 5px rgba(107, 107, 107, 0.692);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
header #header__logo {
  width: 175px;
  position: relative;
  top: 2px;
}

main {
  margin-top: 60px;
}

#localisation {
  background-color: #eaeaea;
  border: 0px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#localisation .localisation__icon {
  padding: 0px 15px 0px 15px;
}
#localisation > input {
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-weight: 700;
  font-size: 16px;
  width: 140px;
}
#localisation ::placeholder {
  color: #000000;
  opacity: 1; /* regle le prob de Firefox qui ajoute un opacité plus bas au placeholder*/
}

#explorer {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 275px;
  justify-content: center;
}
#explorer > h1 {
  font-size: 24px;
  width: 70%;
  margin-bottom: 12px;
}
#explorer > p {
  font-size: 18px;
  width: 90%;
  font-weight: 300;
  margin-bottom: 30px;
}

#explorer__btn {
  padding: 16px;
  width: auto;
  min-width: 180px;
  border: none;
  border-radius: 32px;
  box-shadow: 0px 5px 10px #d1d1d1;
  background: -webkit-linear-gradient(280deg, #FF79DA, #9356DC);
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
#explorer__btn:hover {
  box-shadow: 0px 8px 8px #a3a3a3;
  opacity: 0.8;
}

#explorer__btn:hover {
  box-shadow: 0px 8px 8px #a3a3a3;
  opacity: 0.8;
}

#functioning {
  height: 380px;
  margin: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #functioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #functioning { /* RESPONSIVE*/
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#functioning > h2 {
  margin: 50px 0 30px 0;
  width: 90%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #functioning > h2 {
    width: auto;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  #functioning > h2 {
    width: auto;
    margin: 0 0 10px 0;
  }
}
#functioning .functioning__block {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  #functioning .functioning__block { /* RESPONSIVE*/
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #functioning .functioning__block {
    max-width: 70%;
  }
}
#functioning .functioning__block > .functioning__step {
  display: flex;
  align-items: center;
  padding: 24px 0 24px 0;
  background-color: #f6f6f6;
  box-shadow: 2px 5px 10px #D1D1D1;
  border-radius: 25px;
  margin-bottom: 25px;
  width: 95%;
  /*mixing*/
  /*  &:hover {  
    background: rgba($primary-color,0.1);
        >i {
            color: $primary-color;
        }
    }*/ /* FACULTATIF */
}
#functioning .functioning__block > .functioning__step .functioning__circle {
  background-color: #9356DC;
  font-size: smaller;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  position: relative;
  right: 13px;
}
#functioning .functioning__block > .functioning__step .functioning__circle .functioning__number {
  position: relative;
  left: 7.5px;
  top: 4px;
}
#functioning .functioning__block > .functioning__step .functioning__icon {
  padding: 0 10px 0 10px;
  color: gray;
  width: 30px;
  font-size: larger;
}
#functioning .functioning__block > .functioning__step > p {
  font-weight: 600;
  font-size: 17px;
}
@media screen and (min-width: 1024px) {
  #functioning .functioning__block > .functioning__step {
    /* RESPONSIVE*/
    flex-direction: row;
    margin: 30px;
    max-width: 500px;
  }
}
#functioning .functioning__block > .functioning__step__special {
  display: flex;
  align-items: center;
  padding: 24px 0 24px 0;
  background-color: #f6f6f6;
  box-shadow: 2px 5px 10px #D1D1D1;
  border-radius: 25px;
  margin-bottom: 25px;
  width: 95%;
  background: rgba(147, 86, 220, 0.1); /*dernier élément déclaré écrase les autres*/
}
#functioning .functioning__block > .functioning__step__special .functioning__circle {
  background-color: #9356DC;
  font-size: smaller;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  position: relative;
  right: 13px;
}
#functioning .functioning__block > .functioning__step__special .functioning__circle .functioning__number {
  position: relative;
  left: 7.5px;
  top: 4px;
}
#functioning .functioning__block > .functioning__step__special .functioning__icon {
  padding: 0 10px 0 10px;
  color: gray;
  width: 30px;
  font-size: larger;
}
#functioning .functioning__block > .functioning__step__special > p {
  font-weight: 600;
  font-size: 17px;
}
@media screen and (min-width: 1024px) {
  #functioning .functioning__block > .functioning__step__special {
    /* RESPONSIVE*/
    flex-direction: row;
    margin: 30px;
    max-width: 500px;
  }
}
#functioning .functioning__block > .functioning__step__special > .functioning__icon {
  color: #9356DC;
}

#restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  width: 100%;
  margin: 0;
  padding: 30px 0 45px 0;
}
@media screen and (min-width: 1024px) {
  #restaurant { /* RESPONSIVE*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#restaurant > h2 {
  width: 90%;
  padding: 25px 0 25px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #restaurant > h2 {
    width: auto;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  #restaurant > h2 { /* RESPONSIVE*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0 0px 0px;
  }
}
#restaurant .restaurant__card {
  width: 90%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px #d1d1d1;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #restaurant .restaurant__card {
    max-width: 70%;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1024px) {
  #restaurant .restaurant__card {
    width: 35%;
    margin: 30px;
    height: 350px;
  }
}
#restaurant .restaurant__card > a {
  position: relative; /*Pour positionner "new" */
}
#restaurant .restaurant__card > a .restaurant__new { /*Position absolute par rapport à <a> */
  background-color: #99E2D0;
  font-weight: 500;
  color: #008766;
  padding: 7px 15px 7px 15px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 200px;
}
@media screen and (min-width: 1024px) {
  #restaurant .restaurant__card > a .restaurant__new {
    bottom: 300px; /*position absolute*/
  }
}
#restaurant .restaurant__card > a .restaurant__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (min-width: 1024px) {
  #restaurant .restaurant__card > a .restaurant__img {
    height: 80%;
  }
}

.restaurant__cardfoot {
  margin: 0 20px 0px 10px;
  height: 65px;
  display: flex;
  align-items: center;
}
.restaurant__cardfoot .restaurant__cardfoot__txt > h3 {
  font-size: larger;
  margin: 0 0 4px 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 700;
}
.restaurant__cardfoot .restaurant__cardfoot__txt > p {
  font-size: 18px;
  margin: 0 0 0 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 300;
}

.restaurant__buttonfav {
  display: flex;
  float: right;
  position: relative;
  bottom: 50px;
  right: 20px;
}
.restaurant__buttonfav > input[type=checkbox], .restaurant__buttonfav .restaurant__buttonfav--full { /* invisibilité des éléments*/
  display: none;
}
.restaurant__buttonfav > i {
  font-size: 30px;
  padding: 5px; /*permet un clic plus large et règle un probleme d'affichage*/
}

.restaurant__buttonfav input[type=checkbox]:checked ~ .restaurant__buttonfav--full {
  display: inline-block;
  height: 25px; /* fixe le gradient qui disparait sur petit écran */
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text; /*accroche le background au text (icone)*/
  -webkit-text-fill-color: transparent; /* rend le coeur transparent*/
  animation: anim-fav-full 1s forwards ease-in-out;
}

.restaurant__buttonfav input[type=checkbox]:checked ~ .restaurant__buttonfav--empty {
  display: none;
}

@keyframes anim-fav-full {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#footer {
  background-color: #353535;
  padding: 20px 0 25px 25px;
}
#footer .footer__title {
  padding: 0 0 15px 0px;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
}

.footer__contents {
  padding: 0 0 0px 0;
  display: flex;
  flex-direction: column;
}
.footer__contents .footer__element {
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 300;
}
.footer__contents .footer__element :nth-child(n) {
  color: white;
}

.footer__element__bold {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer__element__bold > i {
  width: 25px;
}
.footer__element__bold > p {
  font-weight: 500;
  font-size: 15px;
}

.footer__icon__rotate {
  transform: rotate(-15deg);
  font-size: 12px;
}

/*------- PAGES ANNEXE -------*/
.header__back {
  position: relative;
  right: 60px;
  width: 20px;
  font-size: x-large;
  display: flex;
  align-items: center;
}

#main__img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  #main__img { /* RESPONSIVE*/
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main__img {
    height: 350px;
  }
}

#container__menu {
  background-color: rgb(245, 245, 245);
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
}
@media screen and (min-width: 1024px) {
  #container__menu { /* RESPONSIVE*/
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.menu__restaurant {
  transform: translateY(-50px);
  margin-bottom: -70px; /*supprime l'espace causé par translate*/
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 10px 20px;
}
@media screen and (min-width: 1024px) {
  .menu__restaurant { /* RESPONSIVE*/
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu__restaurant {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.menu__restaurant > h1 {
  padding: 0 0 15px 0px;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 28px;
}

.menu__buttonfav {
  display: flex;
  float: right;
  position: relative;
  right: 2%;
}
.menu__buttonfav > input[type=checkbox], .menu__buttonfav .menu__buttonfav--full { /* invisibilité des éléments*/
  display: none;
}
.menu__buttonfav > i {
  font-size: 30px;
  padding: 5px; /*permet un clic plus large et règle un probleme d'affichage*/
}
@media screen and (min-width: 1024px) {
  .menu__buttonfav { /* RESPONSIVE*/
    padding-left: 5%;
  }
}

.menu__buttonfav input[type=checkbox]:checked ~ .menu__buttonfav--full {
  display: inline-block;
  height: 25px; /* fixe le gradient qui disparait sur petit écran */
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text; /*accroche le background au text (icone)*/
  -webkit-text-fill-color: transparent; /* rend le coeur transparent*/
  animation: anim-fav-full 1s forwards ease-in-out;
}

.menu__buttonfav input[type=checkbox]:checked ~ .menu__buttonfav--empty {
  display: none;
}

.menu__category {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.menu__category > h2 {
  font-size: 16px;
  font-weight: 400;
}
.menu__category > .menu__border {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin: 2px 0 15px 0;
}
@media screen and (min-width: 1024px) {
  .menu__category { /* RESPONSIVE*/
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu__category {
    width: 80%;
  }
}

.menu__card__1 {
  animation: slide-up-page 1500ms ease-in-out forwards;
}

.menu__card__2 {
  animation: slide-up-page 3000ms ease-in-out forwards running;
}

.menu__card__3 {
  animation: slide-up-page 4500ms ease-in-out forwards running;
}

.menu__card__4 {
  animation: slide-up-page 6000ms ease-in-out forwards running;
}

@keyframes slide-up-page {
  from {
    opacity: 0;
    margin-top: 15px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.menu__card__1, .menu__card__2, .menu__card__3, .menu__card__4 {
  width: 100%;
  height: 65px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /*fixe la bordure pour qu'elle reste arrondie malgré le dépassement du contenu*/
}
.menu__card__1 .menu__txt, .menu__card__2 .menu__txt, .menu__card__3 .menu__txt, .menu__card__4 .menu__txt {
  margin: 0 0 0 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  white-space: nowrap; /*empêche le passage à la ligne en cas de débordement*/
  overflow: hidden; /* cache ce qui déborde de toute la box*/
}
.menu__card__1 .menu__txt > h3, .menu__card__2 .menu__txt > h3, .menu__card__3 .menu__txt > h3, .menu__card__4 .menu__txt > h3 {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 3px;
  overflow: hidden; /*cache le débordement*/
  text-overflow: ellipsis; /*ajoute ... au contenu caché*/
}
.menu__card__1 .menu__txt > p, .menu__card__2 .menu__txt > p, .menu__card__3 .menu__txt > p, .menu__card__4 .menu__txt > p {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden; /*cache le débordement*/
  text-overflow: ellipsis; /*ajoute ... au contenu caché*/
}
.menu__card__1 .menu__price, .menu__card__2 .menu__price, .menu__card__3 .menu__price, .menu__card__4 .menu__price {
  font-weight: 800;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
}
.menu__card__1 .menu__choice, .menu__card__2 .menu__choice, .menu__card__3 .menu__choice, .menu__card__4 .menu__choice {
  background-color: #99E2D0;
  color: white;
  font-size: larger;
  font-weight: 900;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
}

.menu__card__1:hover .menu__choice, .menu__card__2:hover .menu__choice, .menu__card__3:hover .menu__choice, .menu__card__4:hover .menu__choice { /*Animation checkbox*/
  animation: menu__checkbox 1s ease forwards;
}

@keyframes menu__checkbox {
  from {
    margin-right: -60px;
  }
  to {
    margin-right: 0px;
  }
}
.menu__card__1:hover .card__icon__check, .menu__card__2:hover .card__icon__check, .menu__card__3:hover .card__icon__check, .menu__card__4:hover .card__icon__check {
  animation: menu-icon-rotate 1s ease forwards;
}

@keyframes menu-icon-rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.container__btn__order {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
.container__btn__order .btn__order {
  padding: 16px;
  width: auto;
  min-width: 180px;
  border: none;
  border-radius: 32px;
  box-shadow: 0px 5px 10px #d1d1d1;
  background: -webkit-linear-gradient(280deg, #FF79DA, #9356DC);
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.container__btn__order .btn__order:hover {
  box-shadow: 0px 8px 8px #a3a3a3;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
