@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import "./utils/variables" ;
@import  "./utils/mixins";

* {
    margin: 0;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    z-index: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#container__loader {
    z-index: 5;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading-container-animation 4s forwards;
    pointer-events: none; /*retire toute interaction au clique*/
    .dot {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        opacity: 0;
               
    }
    .dot1 {
        background : -webkit-linear-gradient(10deg,$secondary-color,$primary-color);
        animation: loading-dot-animation 1.5s infinite;
    }
    .dot2 {
                background : -webkit-linear-gradient(10deg,$secondary-color,$primary-color);
        margin: 0 10px 0 10px;
        animation: loading-dot-animation 1.5s infinite;
        animation-delay: 250ms;
    }
    .dot3 {
        background : -webkit-linear-gradient(10deg,$secondary-color,$primary-color);
        animation: loading-dot-animation 1.5s infinite;
        animation-delay: 500ms;
    }
}

@keyframes loading-dot-animation {
    0% {
        opacity: 0;
        transform: scale(0.2) translate(0px, 50px) ;
    }
    25% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes loading-container-animation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

header {
    display:flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 3px;
    box-shadow: 0px 1px 5px rgba(107, 107, 107, 0.692);
    z-index: 3;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
        #header__logo {
            width: 175px;
            position: relative;
            top: 2px;
        }
}

main {
    margin-top: 60px;
}

#localisation {
    background-color: #eaeaea;
    border: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
        .localisation__icon {
        padding: 0px 15px 0px 15px;
        }
        >input {
            border:none;
            outline: none;
            background-color: #eaeaea;
            font-weight: 700;
            font-size: 16px;
            width: 140px;
            }
            ::placeholder {
                color: #000000;
                opacity: 1; /* regle le prob de Firefox qui ajoute un opacité plus bas au placeholder*/
            }
}

#explorer {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 275px;
    justify-content: center;
    >h1 { 
        font-size: 24px;
        width: 70%;
        margin-bottom: 12px;
    }
    >p {
        font-size: 18px;
        width: 90%;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

#explorer__btn {
    @include btn-theme
}

#explorer__btn:hover {
    box-shadow: 0px 8px 8px #a3a3a3;
    opacity: 0.8;
    
}

#functioning {
    height: 380px;
    margin: 20px;
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    >h2 {
        margin: 50px 0 30px 0;
        width: 90%;
        @media screen and (min-width:768px) and (max-width:1023px) {
            width: auto;
            margin-top: 0;
        }
        @media screen and (min-width: 1024px) {
            width: auto;
            margin: 0 0 10px 0;
        }
    }
    .functioning__block {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1024px) { /* RESPONSIVE*/
            flex-direction: row;
            justify-content: center;
        }
        @media screen and (min-width:768px) and (max-width:1023px) {
            max-width: 70%;
        }
        >.functioning__step{
           @include card-functioning; /*mixing*/
            }   
        >.functioning__step__special { 
            @include card-functioning;
            background: rgba($primary-color,0.1); /*dernier élément déclaré écrase les autres*/
            >.functioning__icon {
                color: $primary-color;
            }
        }
    }
}

#restaurant {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: 0;
    padding: 30px 0 45px 0;
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }
    >h2 {
        width: 90%;
        padding: 25px 0 25px 0;
        @media screen and (min-width:768px) and (max-width:1023px) {
            width: auto;
            margin: 25px 0 25px 0px;
        }
        @media screen and (min-width: 1024px) { /* RESPONSIVE*/
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 25px 0 0px 0px;
        }
    }
    .restaurant__card {
        width: 90%;
        height: 250px;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 10px #d1d1d1;
        @media screen and (min-width:768px) and (max-width:1023px) {
            max-width: 70%;
        }
        @media screen and (min-width: 1024px) {
            width: 35%;
            margin: 30px;
            height: 350px;
        }
        >a {
            position: relative; /*Pour positionner "new" */
            .restaurant__new { /*Position absolute par rapport à <a> */
                background-color: $tetiary-color;
                font-weight: 500;
                color: #008766;
                padding:7px 15px 7px 15px;
                border-radius: 4px;
                position:absolute;
                z-index: 1;
                right: 10px;
                bottom: 200px;
                @media screen and (min-width: 1024px) {
                    bottom:300px;  /*position absolute*/
                }
            }
            .restaurant__img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
            @media screen and (min-width: 1024px) {
                height: 80%;
            }
            }  
        }
    }
}    


.restaurant__cardfoot {
    margin: 0 20px 0px 10px;
    height: 65px;
    display: flex;
    align-items: center;
    .restaurant__cardfoot__txt {
        >h3 {
            font-size: larger;
            margin: 0 0 3px 0;
            @include typography-card-title;
        }
        >p { 
            font-size: 18px;
            margin: 0 0 0 0;
            @include typography-card-details;
        }
    }
}

.restaurant__buttonfav {
    display: flex;
    float: right;
    padding: 20px 0 20px 10px;  /*Attention, si changement padding, changement bottom / position relative*/
    position: relative;
    bottom: 65px;
    .restaurant__buttonfav--full {
        opacity: 0;
        background : -webkit-linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
        position: relative;
        right: 30px;
    }
    >i {
        font-size: 30px;
    }
    &:hover {
        .restaurant__buttonfav--full {
            animation: anim-fav-full 1s forwards;
        }
        .restaurant__buttonfav--empty {
            animation: anim-fav-empty 1s forwards;
        }
    }
}

@keyframes anim-fav-full {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim-fav-empty {
    50% {
        color: $primary-color;
        transform: scale(1.2);
        
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}


#footer {
    background-color: #353535;
    padding: 20px 0 25px 25px;
    
    .footer__title {
        padding: 0 0 15px 0px;
        font-family: "Shrikhand", Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: 18px;
        color: white;
    }
}

.footer__contents {
    padding: 0 0 0px 0;
    display: flex;
    flex-direction: column;
    .footer__element {
        padding-bottom: 8px;
        font-size: 15px;
        font-weight: 300;
        :nth-child(n) {
            color: white;
        }   
    }  
}

.footer__element__bold {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    >i { 
        width: 25px;
    }
    >p {
        font-weight: 500;
        font-size: 15px;
    }
}

.footer__icon__rotate {
    transform : rotate(-15deg);
    font-size: 12px;
}

/*------- PAGES ANNEXE -------*/

.header__back {
    position: relative;
    right: 60px;
    width: 20px;
    font-size: x-large;
    display: flex;
    align-items: center;
}

#main__img {
    width: 100%;
    height: 265px;
    object-fit: cover;
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        height: 400px;  
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
       height: 350px;
    }
 }

#container__menu {
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        display: flex;
        justify-content: space-around;
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
}

.menu__restaurant {
    transform: translateY(-50px);
    margin-bottom: -70px; /*supprime l'espace causé par translate*/
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        justify-content:center;   
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
        padding-left: 10%;
        padding-right: 10%;
     }
    
    >h1 {
        padding: 0 0 15px 0px;
        font-family: "Shrikhand", Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: 28px;
    }
}

.menu__buttonfav {
    display: flex;
    float: right;
    height: 28px;
    position: relative;
    top: 8px;
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        padding-left:40px;   
    }
    >.menu__fav--full {
        opacity: 0;
        background : -webkit-linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
        position: relative;
        right: 24px;
    }
    >i {
        font-size: 24px;
         }
    &:hover {
        .menu__fav--full {
            animation: anim-fav-full 1s forwards;
        }
        .menu__fav--empty {
            animation: anim-fav-empty 1s forwards;
        }
    }
}

.menu__category {
    display: flex;
    flex-direction: column;
    margin: 20px;
    >h2 {
        font-size: 16px;
        font-weight: 400;
    }
    >.menu__border {
        background-color: $tetiary-color;
        height: 3px;
        width: 40px;
        margin: 2px 0 15px 0;
    }
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
        width: 30%;
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
       width: 80%;
    }
}

.menu__card__1 {
    animation: slide-up-page 1500ms ease-in-out forwards 
}
.menu__card__2 {
    animation: slide-up-page 3000ms ease-in-out forwards running 
}
.menu__card__3 {
    animation: slide-up-page 4500ms ease-in-out forwards running 
}
.menu__card__4 {
    animation: slide-up-page 6000ms ease-in-out forwards running 
}

@keyframes slide-up-page {
    from {
        opacity: 0;
        margin-top: 15px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}



.menu__card__1, .menu__card__2, .menu__card__3, .menu__card__4 {
        width: 100%;
        height: 65px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 10px #d1d1d1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden; /*fixe la bordure pour qu'elle reste arrondie malgré le dépassement du contenu*/
            .menu__txt {
            margin: 0 0 0 12px;
            display: flex;
            flex: 1;
            flex-direction: column;
            white-space: nowrap; /*empêche le passage à la ligne en cas de débordement*/
            overflow: hidden; /* cache ce qui déborde de toute la box*/
            >h3 {
                @include typography-card-title;
                margin-bottom: 3px;
                overflow: hidden; /*cache le débordement*/
                text-overflow: ellipsis; /*ajoute ... au contenu caché*/
            }
            >p {
                @include typography-card-details; 
                font-size: 15px;
                overflow: hidden; /*cache le débordement*/
                text-overflow: ellipsis; /*ajoute ... au contenu caché*/
            }
        }
        .menu__price {
            font-weight: 800;
            height: 100%;
            display: flex;
            align-items: flex-end;
            padding: 0 20px 20px 20px;
        }
        .menu__choice {
            background-color: $tetiary-color;
            color: white;
            font-size: larger;
            font-weight: 900;
            height: 100%;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -60px;
        }
}

.menu__card__1:hover .menu__choice, .menu__card__2:hover .menu__choice, .menu__card__3:hover .menu__choice, .menu__card__4:hover .menu__choice { /*Animation checkbox*/
    animation: menu__checkbox 1s ease forwards;
}

@keyframes menu__checkbox {
    from {
        margin-right: -60px;
    }
    to {
        margin-right: 0px;
    }
}

.menu__card__1:hover .card__icon__check, .menu__card__2:hover .card__icon__check, .menu__card__3:hover .card__icon__check, .menu__card__4:hover .card__icon__check {
    animation: menu-icon-rotate 1s ease forwards;
}

@keyframes menu-icon-rotate {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}

.container__btn__order {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    background-color:#f6f6f6;
    .btn__order {
        @include btn-theme;
    }
}