/* Fav - Page d'acceuil */
.restaurant__buttonfav {
    display: flex;
    float: right;
    position: relative;
    bottom: 60px;
    right: 20px;
    cursor: pointer;
        >input[type="checkbox"], .restaurant__buttonfav--full { /* invisibilité des éléments*/
            display: none;
        }
        >i {   
        font-size: 28px;
        padding: 15px; /*permet un clic plus large et règle un probleme d'affichage*/
    }
}

.restaurant__buttonfav input[type="checkbox"]:checked ~ /*combinateur frère*/ .restaurant__buttonfav--full {
            display: inline-block; 
            height: 25px; /* fixe le gradient qui disparait sur petit écran */
            background: linear-gradient($primary-color 0%, $secondary-color 100%);
            -webkit-background-clip : text; /*accroche le background au text (icone)*/
            -webkit-text-fill-color : transparent; /* rend le coeur transparent*/
            animation: anim-fav-full 1s forwards ease-in-out;      
}   

.restaurant__buttonfav input[type="checkbox"]:checked ~ /*combinateur frère*/ .restaurant__buttonfav--empty {
            display: inline-block;         
            position:absolute;
            animation: anim-fav-empty 1.2s forwards;
            }

@keyframes anim-fav-full {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes anim-fav-empty {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
        background: linear-gradient($primary-color 0%, $secondary-color 100%);
        -webkit-background-clip : text; /*accroche le background au text (icone)*/
        -webkit-text-fill-color : transparent; /* rend le coeur transparent*/
    }
}

/* Fav - Pages annexes */

.menu__buttonfav {
    position: relative;
    display: flex;
    padding-left: 10px; /*empêche la déconstruction sur très petit écran*/
    right: 10px;
    top: 13px;
    cursor: pointer;
        >input[type="checkbox"], .menu__buttonfav--full { /* invisibilité des éléments*/
            display: none;
        }
        >i {   
        font-size: 28px;
        padding: 5px; /*permet un clic plus large et règle un probleme d'affichage*/
    }
    @include media-queries-desktop { /* RESPONSIVE*/
        padding-left: 5%; 
    } 
}

.menu__buttonfav input[type="checkbox"]:checked ~ /*combinateur frère*/ .menu__buttonfav--full {
            display: inline-block;
            height: 25px; /* fixe le gradient qui disparait sur petit écran */
            background: linear-gradient($primary-color 0%, $secondary-color 100%);
            -webkit-background-clip : text; /*accroche le background au text (icone)*/
            -webkit-text-fill-color : transparent; /* rend le coeur transparent*/
            animation: anim-fav-full 1s forwards ease-in-out;            
}

.menu__buttonfav input[type="checkbox"]:checked ~ /*combinateur frère*/ .menu__buttonfav--empty {
    position: absolute;
    animation: anim-fav-empty 1.2s forwards;
}