* {
    margin: 0;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    z-index: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 60px;
}