/* Animation après le chargement de la page */
.menu__card__1 {
    animation: slide-up-page 1s 1000ms ease-out forwards; 
}
.menu__card__2 {
    animation: slide-up-page 1s 1500ms ease-out forwards;  
}
.menu__card__3 {
    animation: slide-up-page 1s 2000ms ease-out forwards;
}
.menu__card__4 {
    animation: slide-up-page 1s 2500ms ease-out forwards;
}

@keyframes slide-up-page {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
    }
}

/* Animation dans les cartes - bloc vert latéral */
.menu__card__1, .menu__card__2, .menu__card__3, .menu__card__4 {
    >.menu__choice {
        background-color: $tetiary-color;
        color: white;
        font-size: larger;
        font-weight: 900;
        height: 100%;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -60px;
        transition : margin 0.8s 0s ease-in-out;/* property - delay - duration - timing function */
    }
}

.menu__card__1:hover, .menu__card__2:hover, .menu__card__3:hover, .menu__card__4:hover { /*Animation checkbox*/
    .menu__choice {
        margin-right: 0px;
    }
}

.menu__card__1:hover, .menu__card__2:hover, .menu__card__3:hover, .menu__card__4:hover {
    .card__icon__check {
        animation: menu-icon-rotate 1.5s 0.2s forwards;
    }
}

@keyframes menu-icon-rotate {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}
