
@mixin typography-card-title {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

@mixin typography-card-details { 
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 300;
}

@mixin card-functioning {
  display: flex;
  align-items: center;
  padding: 24px 0 24px 0;
  background-color:#f6f6f6;
  box-shadow: 2px 5px 10px #D1D1D1;
  border-radius: 25px;
  margin-bottom: 25px;
  width: 95%;
    .functioning__circle {
      background-color: $primary-color;
      font-size: smaller;
      color: white;
      height: 24px;
      width: 24px;
      border-radius: 12px;
      position: relative;
      right: 13px;
        .functioning__number {
          position: relative;
          left: 7.5px;
          top: 4px;
        }
    }
    .functioning__icon {
      padding: 0 10px 0 10px;
      color: gray;
      width: 30px;
      font-size: larger;
    }
    >p {
      font-weight: 600;
      font-size: 17px;
    }
    @media screen and (min-width: 1024px) { /* RESPONSIVE*/
      flex-direction: row;
      margin: 20px;
  }
}

@mixin btn-theme {
  padding: 16px;
  width: auto;
  min-width: 180px;
  border: none;
  border-radius: 32px;
  box-shadow: 0px 5px 10px #d1d1d1;
  background : -webkit-linear-gradient(280deg,$secondary-color,$primary-color);
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 400;
      &:hover {
      box-shadow: 0px 8px 8px #a3a3a3;
      opacity: 0.8;
    }
}


